[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"

[scripts]
seed = "python3 seed.py"
dev = "PYTHONPATH=./ pipenv run python ender_api/seed.py"


[dev-packages]

[requires]
python_version = "3.11"
